{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Muhammad Ehsan</h3>
                <p class="lead" style="font-weight: 350;">Hi, I'm Muhammad Ehsan. I’m currently pursuing my Bachelor’s in Artificial Intelligence and 
                    also working as a Freelance Data Scientist. I’m deeply involved in exploring the latest in Large Language Models and generative AI.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:m.ehasn.ops@gmail.com'><img
                        src="https://www.iconpacks.net/icons/1/free-mail-icon-142-thumb.png" height="40" width="40"></a> :
                m.eshan.ops@gmail.com<br><br>
                <a target="_blank" href='https://muhammad--ehsan.medium.com/'><img
                        src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Medium-512.png" height="44"
                        width="44"></a> : muhammad--ehsan<br><br>
                <a target="_blank" href='https://github.com/muhammadehsan02'><img
                        src="https://cdn-icons-png.flaticon.com/512/25/25231.png" height="40" width="40"></a> :
                muhammadehsan02<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/muhammad--ehsan'><img
                        src="https://cdn3.iconfinder.com/data/icons/2018-social-media-black-and-white-logos/1000/2018_social_media_popular_app_logo_linkedin-512.png" height="40" width="40"></a> :
                muhammad--ehsan<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Junaid Rashid</h3>
                <p class="lead" style="font-weight: 350;">Hi, I'm Junaid Rashid. I’m currently pursuing my Bachelor’s in Software Engineering. 
                    I have a keen interest in developing innovative software solutions and exploring emerging technologies in the tech industry.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:junaidrashid@gmail.com'><img
                        src="https://www.iconpacks.net/icons/1/free-mail-icon-142-thumb.png" height="40" width="40"></a> :
                junaidrashid@gmail.com<br><br>
                <a target="_blank" href='https://www.instagram.com/junaidrashid/'><img
                        src="https://cdn-icons-png.flaticon.com/512/4922/4922972.png" height="44" width="44"></a> :
                junaidrashid<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/junaidrashid/'><img
                        src="https://cdn3.iconfinder.com/data/icons/2018-social-media-black-and-white-logos/1000/2018_social_media_popular_app_logo_linkedin-512.png" height="40" width="40"></a> :
                junaidrashid<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}